<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="executors.xml"/>

    <context:component-scan base-package="com.machine.coffee" />
    <context:annotation-config />

    <bean id="appConfigProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties" />
    </bean>

    <bean id="OrderService" class="com.machine.coffee.order.OrderServiceImpl">
        <property name="orderExecutor" ref="orderExecutor"/>
    </bean>

    <bean id="ProductService" class="com.machine.coffee.product.ProductServiceImpl">
        <property name="chooseCoffeeExecutor" ref="chooseCoffeeExecutor"/>
    </bean>

    <bean id="ClientService" class="com.machine.coffee.client.ClientServiceImpl" destroy-method="shutdown">
        <property name="processExecutor" ref="processExecutor"/>
    </bean>

    <bean id="PaymentService" class="com.machine.coffee.payment.PaymentServiceImpl">
        <property name="paymentExecutor" ref="paymentExecutor"/>
    </bean>

    <bean id="Statistic" class="com.machine.coffee.statistics.StatisticImpl"></bean>

</beans>